* {
  box-sizing: content-box;
  padding: 0;
  margin: 0;
}

canvas {
  display: block;
  width: calc(100vw - 20px);
  height: calc(100vh);
  background-color: #1e1e1e;
  border: none;
  image-rendering: pixelated;
}

.block-atlas {
  display: none;
}
