* {
	box-sizing: content-box;
}

html, body {
	height: 100%;
}

.nbt-editor {
	width: 100%;
	height: 100%;
}

.nbt-content {
	width: 100%;
	height: 100%;
	padding-top: 30px;
}

.nbt-tag {
	height: 22px;
}

.nbt-tag:not(.collapse) {
	position: relative;
	padding-left: 13px;
	margin-left: 7px;
	border-left: 1px #777 solid;
}

div:last-child > .nbt-tag {
	border-color: transparent;
}

.nbt-tag:not(.collapse)::before {
	content: '';
	position: absolute;
	width: 9px;
	height: 8px;
	top: 0;
	left: -1px;
	border-bottom: 1px #777 solid;
}

div:last-child > .nbt-tag:not(.collapse)::before {
	border-left: 1px #777 solid;
	width: 10px;
}

.nbt-body {
	padding-left: 12px;
	margin-left: 7px;
	border-left: 1px #777 solid;
}

div:last-child > .nbt-body {
	border-color: transparent;
}

.nbt-entries {
	font-style: italic;
}

.center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.error {
	color: #ec5035;
}

.nbt-collapse {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin: 2px;
	text-align: center;
	border: 1px #777 solid;
	color: #777;
	font-family: monospace;
	font-size: 12px;
	cursor: pointer;
	user-select: none;
	font-weight: bold;
}

.nbt-icon {
	display: inline-block;
	background-image: url('./icons.png');
	width: 16px;
	height: 16px;
	margin-bottom: -3px;
}

.nbt-icon.byte-icon { background-position: 0 0; }
.nbt-icon.double-icon { background-position: -16px 0; }
.nbt-icon.float-icon { background-position: -32px 0; }
.nbt-icon.int-icon { background-position: -48px 0; }
.nbt-icon.long-icon { background-position: 0 -16px; }
.nbt-icon.short-icon { background-position: -16px -16px; }
.nbt-icon.string-icon { background-position: -32px -16px; }
.nbt-icon.compound-icon { background-position: -48px -16px; }
.nbt-icon.list-icon { background-position: 0 -32px; }
.nbt-icon.byteArray-icon { background-position: -16px -32px; }
.nbt-icon.intArray-icon { background-position: -32px -32px; }
.nbt-icon.longArray-icon { background-position: -48px -32px; }

canvas {
  display: block;
  width: calc(100vw - 20px);
  height: calc(100vh);
  background-color: #1e1e1e;
  border: none;
  image-rendering: pixelated;
}

.block-atlas {
  display: none;
}

.panel-menu {
	position: fixed;
	top: 5px;
	left: 20px;
	display: flex;
}

.panel-menu > *:not(:last-child) {
	margin-right: 5px;
}

.menu-spacer {
	margin: 0 10px;
}

.btn {
	background-color: #252526;
	color: #dddddd;
	padding: 2px 8px;
	cursor: pointer;
	user-select: none;
	-webkit-user-select: none;
}

.btn.active {
	background-color: #333333;
	color: #d8b24a;
}

.spinner {
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 80px;
}

.spinner:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #333333;
  border-color: #333333 transparent #333333 transparent;
  animation: spinner 1.2s linear infinite, fadein 0.4s;
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
